html{
    scroll-behavior: smooth;
}
body{
    font-family: "Yantramanav", Helvetica, Arial, sans-serif; 
    font-weight: 255;
    height: 2000px;
    background-color: rgb(26, 26, 26);;/* For browsers that do not support gradients */
    background: linear-gradient(180deg, rgba(50,5,73,1) 0%, rgba(26,26,26,1) 15%,rgba(26,26,26,1) 85%,rgba(50,5,73,1) 100%);
    margin: 0; /*Make header flush with top corners*/
    padding: 0; 
}
nav{
    background: rgba(50,5,73,1);
    background: linear-gradient(90deg, rgba(50,5,73,1) 5%, rgba(253,29,29,1) 30%, rgba(252,120,54,1) 70%, rgba(50,5,73,1) 95%);
    width: 100%;
    top: 0%;
    height: 40px;
    display: flex;          /*Keep the buttons inline*/
    flex-wrap: wrap;
    align-items: center;
    justify-content:center; /*How the buttons in the nav bar will be positioned*/
    position: absolute;     /*Make the nav bar flush to the top of the page*/
}
.all_redirects{
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type:none;  /*Remove the list dots*/
    display: flex;          /*Keep the buttons inline*/
    flex-wrap: wrap;
    justify-content:center; /*How all the redirects in the nav bar will be positioned*/
}
.hamburger_menu{ /*The clickable area of the hamburger menu*/
    display: none; /*The hamburger menu should only show up when the screen is narrow*/
    height: 100%; /*The entire height of whatever the nav bar is*/
    width: 50px;
    cursor: pointer;
    justify-content: center; /*Center the visible parts of the hamburger menu to the clickable container*/
    align-items: center;     /*Center the visible parts of the hamburger menu to the clickable container*/
}
.hamburger_slice,.hamburger_slice::before,.hamburger_slice::after { /*The entire visible part of the hamburger menu*/
    background-color: white;
    position: absolute;
    height: 4px; /*The height of each indivisual hamburger line*/
    width: 33px; /*The width of each indivisual hamburger line*/
    transition-timing-function: cubic-bezier(0.2, 1, 0.32, 1);
    transition-duration: 500ms;
    border-radius: 2px;
}
#hamburger_menu_toggle {/*The hamburger menu is really just a checkbox wrapped in a styled label*/
    display: none;
}
.hamburger_slice::before { /*Place a slice above the middle slice*/
    content: '';
    margin-top: -10px;  /*How far above the middle line the top line will be*/
}

.hamburger_slice::after { /*Place a slice under the middle slice*/
    content: '';
    margin-top: 10px;   /*How far below the middle line the bottom line will be*/
}
#hamburger_menu_toggle:checked + .hamburger_menu .hamburger_slice::before { /*When the hamburger menu is checked the hamburger slices needs to animate*/
    margin-top: 0px;
    transform: rotate(765deg); /*45 will just go to down. 405 will spin one time before going down etc just add 360 per spin*/
}

#hamburger_menu_toggle:checked + .hamburger_menu .hamburger_slice { /*Make the middle slice dissappear when hamburger menu is checked*/
    background: rgba(255, 255, 255, 0);   
}

#hamburger_menu_toggle:checked + .hamburger_menu .hamburger_slice::after { /*When the hamburger menu is checked the hamburger slices needs to animate*/
    margin-top: 0px;
    transform: rotate(-765deg);
}
nav li{
    margin-inline: 2%; /*Keep the buttons separated*/
    text-transform:capitalize;
    font-size: x-large;
    filter: drop-shadow(0.3rem 0.3rem 0.19rem rgba(0, 0, 0, 0.5));
}
nav li a{
    color: white;
    transition: 250ms ease;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
nav li a:hover{
    color: black;
    transition: 250ms ease;
}
#out_of_bound_blocker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5); 
}
@media (max-width: 700px) {
    .hamburger_menu {
        display: flex;      /*When the viewport is narrow is when the hamburger menu should be displayed. It's none by default.*/
        z-index: 1;
    }
    .all_redirects{
        position: absolute;
        top:0;             /*Make the tab flush with the nav bar*/
        margin-top: 40px; /*Account for the height of the nav bar*/
        z-index: 1;
    }
    .all_redirects li {
        display: inline-flex;
        justify-content: center;                  /*Center the redirect*/
        align-items: center;                      /*Center the redirect*/
        background-color: rgb(0, 0, 0);         /*Color of the individual redirect tabs*/
        width: 100%;                              /*Make the tab flush with the sides of the viewport*/
        margin: 0;                                /*Make the tab flush with the sides of the viewport*/
    }
    .nav_text{
        position:absolute;
        left:   50%;
        top:    50%;
        transform: translate(-50%,-50%);
    }
    #hamburger_menu_toggle ~ .all_redirects li {
        height: 0;          /*The individual redirect tabs needs to be reset to 0 in order to make the animation look good*/
        transition:500ms cubic-bezier(0.2, 1, 0.3, 1); /*Details regarding how the tab dissappearing animates*/
        pointer-events: none;                          /*The redirects should not be clickable*/
        opacity: 0;                                    /*The redirects should not be visible */
        
    }
    #hamburger_menu_toggle:checked ~ .all_redirects li {
        height: 2em;                    /*How tall the redirect tabs should be*/
        border: 1px solid #333;       /*Size and color of border between redirect tabs*/
        transition:500ms cubic-bezier(0.2, 1, 0.3, 1); /*Details regarding how the tab appearing animates*/
        pointer-events:all;             /*The redirects should be clickable*/
        opacity: 1;                     /*The redirects should be visible */
        
    }
    nav li a{
        color: white;
    }
    nav li a:hover{
        color: gold;
    }   
}

@keyframes down_scroll_button_animation {
    0% {
        transform: rotate(-45deg) translate(0, 0)
    }
    20% {
        transform: rotate(-45deg) translate(-15px, 15px)
    }
    40% {
        transform: rotate(-45deg) translate(0, 0)
    }
}
@keyframes up_scroll_button_animation {
    0% {
        transform: rotate(-45deg) translate(0, 0)
    }
    20% {
        transform: rotate(-45deg) translate(-15px, 15px)
    }
    40% {
        transform: rotate(-45deg) translate(0, 0)
    }
}
@keyframes down_scroll_button_animation_when_hovered {
    0% {
        transform: rotateY(0) rotateZ(-45deg);
    }
    100% {
        transform: rotateY(720deg) rotateZ(-45deg);
    }
}
@keyframes up_scroll_button_animation_when_hovered {
    0% {
        transform: rotateY(0) rotateZ(135deg);
    }
    100% {
        transform: rotateY(180deg) rotateZ(135deg);
    }
}
@keyframes fadeIn_fadeOut {
    0%      { opacity:0; }
    20%     { opacity:1; }
    80%     { opacity:1; }
    100%     { opacity:0; }
}